[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
matplotlib = "==3.4.3"
biosppy = "*"
pyhrv = "*"
scipy = "*"
emd = "*"
numba = "*"
dtw-python = "*"
pyod = "*"
openpyxl = "*"
scikit-learn = "*"
seaborn = "*"
pywavelets = "*"

[dev-packages]

[requires]
python_version = "3.8"
